---
interface Props {
  title?: string;
  subtitle?: string;
  align?: "center" | "left" | "right";
  titleIsH1?: boolean;
  className?: string;
}

const { title, subtitle, align = "left", titleIsH1 = false, className = "" } = Astro.props;
---

<section class={`h-fit container flex flex-col items-center px-6 py-16 ${className}`}>
  {
    title || subtitle ? (
      <div class={`flex flex-col items-${align} max-w-3xl mx-auto text-${align} mb-12 w-full`}>
        {title && !titleIsH1 ? <h2 class="mb-4 text-balance">{title}</h2> : null}
        {title && titleIsH1 ? <h1 class="mb-4 text-balance">{title}</h1> : null}
        {subtitle && <p class="text-xl mb-0 line-clamp-4">{subtitle}</p>}
      </div>
    ) : null
  }

  <slot />
</section>
