---
interface Props {
  title: string;
  subtitle?: string;
  features: {
    title: string;
    description: string;
    icon?: string;
  }[];
}

const { title, subtitle, features } = Astro.props;
---

<section class="h-fit container flex flex-col justify-center items-center px-6 py-16">
  <div class="flex flex-col items-center max-w-3xl mx-auto text-center mb-12">
    <h2 class="mb-4 text-balance">{title}</h2>
    {subtitle && <p class="text-xl mb-0">{subtitle}</p>}
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 items-center">
    {
      features.map((feature) => (
        <div class="card h-full bg-slate-50 border-2 border-slate-200">
          <div class="card-body p-6 items-center text-center">
            {feature.icon && <span class="text-4xl m-0">{feature.icon}</span>}
            <h3 class="text-balance !m-0">{feature.title}</h3>
            <p class="m-0">{feature.description}</p>
          </div>
        </div>
      ))
    }
  </div>
</section>
