---
interface Props {
  title: string;
  subtitle?: string;
  ctaText?: string;
  ctaHref?: string;
  secondaryCtaText?: string;
  secondaryCtaHref?: string;
}

const { title, subtitle, ctaText = "Get Started", ctaHref = "#", secondaryCtaText, secondaryCtaHref } = Astro.props;
---

<section class="min-h-[70vh] h-fit container flex flex-col justify-center items-center py-16">
  <h1 class="m-0 text-center text-balance">{title}</h1>
  {subtitle && <p class="text-xl m-0 text-center">{subtitle}</p>}
  <div class="flex flex-wrap gap-4 justify-center mt-8">
    <a id="cta-primary" href={ctaHref} class="max-sm:w-full btn btn-primary">{ctaText}</a>
    {
      secondaryCtaText && secondaryCtaHref && (
        <a id="cta-secondary" href={secondaryCtaHref} class="max-sm:w-full btn btn-outline">
          {secondaryCtaText}
        </a>
      )
    }
  </div>
</section>
