---
import Layout from "@/layouts/Layout.astro";
import Hero from "@sections/Hero.astro";
import HalfTextHalfImage from "@sections/HalfTextHalfImage.astro";
import Quote from "@sections/Quote.astro";
import Navbar from "@sections/Navbar.astro";
import Footer from "@sections/Footer.astro";
import Features from "@sections/Features/index.astro";
import Container from "@sections/Container.astro";
import RenderMarkdown from "@/components/RenderMarkdown.astro";

const greyBackgroundImageSrc =
  "data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMSIgaGVpZ2h0PSIxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9IiNlMmU4ZjAiLz48L3N2Zz4=";

const features = [
  { title: "Astro", description: "Astro is a modern static site builder." },
  { title: "Alpine.js", description: "Alpine.js is a library for modern JavaScript." },
  { title: "HTMX", description: "HTMX is a library for modern HTML." },
  { title: "Preline UI", description: "Preline UI is a library for modern UI." },
  { title: "daisyUI", description: "daisyUI is a library for modern UI." },
  { title: "Clerk Auth", description: "Clerk Auth is a library for modern authentication." },
  { title: "Astro DB", description: "Astro DB is a library for modern databases." }
];

const letterContentMarkdown = `
  I dream of a lightweight, simple web development stack that invokes a fun web experience at the cheapest possible
  maintenance, backend, and server cost. As close to free as possible. I wanted to provide a stack that's powerful
  like Ruby on Rails _("The One Person Framework")_, but with the ease and "vanilla" web dev feel of Astro. Freedom
  Stack is built on three core principles:

  - **Approachable** — Making web development feel natural and comfortable, especially for newcomers
  - **Flow-able** — Using an HTML-first approach that helps you focus and get in the zone faster
  - **Pocket-friendly** — Keeping it financially maintainable for everyone, from indie hackers to startups

  This is only the beginning. It's a joy to work on this project and to give it freely. Long story short, I was
  bed-ridden sick for about 7 months, not knowing if I'd make it out. [God](https://www.gotquestions.org/what-is-the-gospel.html)
  took care of me through friends and family. He healed me on the inside before he healed me on the outside. Ever
  since, I've had a deep desire to create digital experiences that lead to freedom. May Freedom Stack be a blessing
  to you to create whatever dreams and visions on your heart and mind.

  _— [Cam Pak](https://cameronpak.com)_
`;

// The browser should always check freshness
Astro.response.headers.set("cache-control", "public, max-age=0, must-revalidate");

// The CDN should cache for a year, but revalidate if the cache tag changes
Astro.response.headers.set("netlify-cdn-cache-control", "s-maxage=31536000");

// Tag the page with the project slug
Astro.response.headers.set("netlify-cache-tag", "components");
---

<Layout
  title="Freedom Stack Boilerplate"
  description="A free full-stack boilerplate that feels freeing. Astro, HTMX, Alpine.js, Astro DB, Clerk Auth, Preline UI, & daisyUI."
>
  <Navbar
    title="Freedom Stack"
    links={[
      { text: "GitHub", href: "https://github.com/cameronapak/freedom-stack" },
      { text: "Coffee ☕", href: "https://buymeacoffee.com/campak" }
    ]}
  />
  <Hero
    title="Freedom Stack"
    subtitle="A full-stack Astro starter kit that feels freeing and is free."
    ctaText="Get Started"
    ctaHref="/"
    secondaryCtaText="View on GitHub"
    secondaryCtaHref="https://github.com/cameronapak/freedom-stack"
  />
  <HalfTextHalfImage
    title="Components"
    subtitle="A collection of reusable components for the Freedom Stack."
    image={greyBackgroundImageSrc}
  />
  <HalfTextHalfImage
    title="Components"
    subtitle="A collection of reusable components for the Freedom Stack."
    image={greyBackgroundImageSrc}
    reverse
  />
  <Quote
    quote="enjoyed learning about Freedom Stack, Cam. Really a refreshing take on SaaS boilerplates ✨ plus I love Astro, too!"
    title="@poppacalypse"
    author="Carl Poppa"
    image={greyBackgroundImageSrc}
  />
  <Features features={features} />

  <Container title="Why Freedom Stack?" align="center">
    <div class="bg-white p-6 rounded-xl border-2 border-slate-200 w-full text-xl leading-relaxed">
      <RenderMarkdown content={letterContentMarkdown} />
    </div>
  </Container>
  <Footer />
</Layout>
