---
interface Props {
  id?: string;
  name?: string;
  content: string;
  alpineRefName?: string;
}

const { content, id = "content", name = "content", alpineRefName = "contentInputEl" } = Astro.props as Props;
---

<div id="trix-editor" class="relative not-prose">
  <input id={id} x-ref={alpineRefName} value={content} type="hidden" name={name} />
  <trix-editor input={id}></trix-editor>
</div>

<script>
  import "trix";
</script>
